
<footer th:fragment="footerFragment"
        class="bg-black text-white py-3 mt-auto">
    <div class="container">
        <h4>Información de contacto</h4>
        <dl class="list-group list-group-flush">
            <dt class="bg-transparent text-white border-secondary">Av. Siempreviva 742, Springfield, Estados Unidos</dt>
            <dt class="bg-transparent text-white border-secondary">Gerente: Homero J. Simpson</dt>
            <dt class="bg-transparent text-white border-secondary">+56 (9) 0000 1111</dt>
        </dl>
        <hr class="border-secondary">
        <p class="text-center mb-0" th:text="${appName} + ' 2026'"></p>
    </div>
</footer>